<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">无力社区</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">www.wulitt.com<span class="sr-only">(current)</span></a></li>
                    <li> <a th:text="Powered-By-SpringBoot">
                    </a></li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">菜单(暂不可用) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>设置1</a></li>
                            <li><a >设置2</a></li>
                            <li><a >Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a >Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a >One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入关键词">
                    </div>
                    <button type="button" class="btn btn-default">搜索(不可用)</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/publish">发布</a></li>
                    <li >
                        <a href="/profile/myreplies" class="glyphicon glyphicon-bullhorn">
                            <span th:if="${session.unread!=0}" class="badge" style="background-color: red" th:text="${session.unread}"></span>
                        </a>
                    </li>

                    <li class="dropdown" th:if="${session.myuser!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                            <span th:text="${session.myuser.getName()}"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人资料</a></li>
                            <li><a href="/profile/myposts">内容中心</a></li>
                            <li><a href="#">消息</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.myuser==null}">
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id='9feb8c1a73a61ed58df1',redirect_uri=${#httpServletRequest.getRequestURL()+'callback'},scope='user',state='1')}">
                        登录
                        </a>
<!--                        <a href="https://github.com/login/oauth/authorize?client_id=9feb8c1a73a61ed58df1&redirect_uri=http://localhost:8081/callback&scope=user&state=1">-->
<!--登录-->
<!--                        </a>-->
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

</body>
</html>