<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>无力社区</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/community.css" rel="stylesheet">
    <script src="/jquery/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/editor/css/editormd.min.css">
    <script src="/editor/editormd.min.js"></script>

</head>
<body style="background-color: #efefef">
<div th:insert="navigation::nav"></div>
<div class="container-fluid main" style="background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>发起</h2>
            <hr>
            <form action="/publish" method="post" style="margin-bottom: 10px">
                <input name="id" th:value="${id}" type="hidden">
                <div class="form-group">
                    <label for="title" style="margin-bottom: 10px">问题标题</label>
                    <input autocomplete="off" class="form-control" id="title" name="title" placeholder="请输入问题标题"
                           th:value="${title}" type="text">
                </div>
                <div  id="editor">
                    <label for="description" style="margin-bottom: 10px">问题内容</label>
                    <textarea class="form-control" id="description" name="description" rows="25"
                              th:text="${description}" style="display: none">
                    </textarea>
                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("editor", {
                                 width  : "100%",
                                 height : "350px",
                                path   : "/editor/lib/",
                                delay:0,
                                imageUpload    : true,
                                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL : "/file/upload",
                            });
                        });
                    </script>
                </div>
                <div th:if="${error!=null}">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
                <!--      标签      -->
                <div >
                    <label for="tag">添加标签:</label>
                    <input autocomplete="off" class="form-control" id="tag" name="tag" onclick="displayTab()"
                           placeholder="单击输入框选择标签，自动以空格分隔，单击标签添加，双击删除"
                           th:value="${tag}" type="text" readonly="readonly"><!--          即使input什么都不输入 也不为null 而是“”          -->
                    <!--选择标签-->
                    <div id="Tab" style="margin-top: 10px;display: none">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li  role="presentation" th:each="cache,cacheStat:${caches}" th:class="${cacheStat.first ? 'active':''}">
                                <a data-toggle="tab"
                                   th:href="@{'#'+${cache.getTabName()}}"
                                   role="tab"
                                   th:text="${cache.getTabName()}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="margin-top: 10px">
                            <div  th:each="cache: ${caches}" th:id="${cache.getTabName()}" role="tabpanel"
                                 th:class="${cacheStat.first ? 'active tab-pane':'tab-pane'}">
                                 <span class="label label-info" th:each="cacheTag:${cache.getTags()}"
                                       ondblclick="removeTag(this)" onclick="selectTag(this)" th:data-tag="${cacheTag}"
                                       style="margin-right: 10px; cursor: pointer;white-space: normal">
                                       <span class="glyphicon glyphicon-tags" style="margin-right: 5px;margin-bottom: 15px" th:text="${' '+cacheTag}"> </span>
<!--                                     <br  th:if="${(cache.getTags().indexOf(cacheTag)+1)%4==0}" >-->
                                 </span>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-success" style="margin-bottom: 20px;float: right" type="submit">提交</button>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>
                这是个说明
            </h2>
            Nothing
        </div>
    </div>
</div>
</body>
</html>